
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HW_7_MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/musicPortalMaein.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HW_7_MusicPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>

    <main class="mainPortal">
        <header class="item1 font-Setting general-background-color admin-border">
            <div class="head">
                <div class="user">@Resource.Logged</div>
                <div class="logo">Logo</div>
                <div class="head-menu"><a asp-action="Index" asp-controller="Home">@Resource.Home</a></div>
            </div>
        </header>
        <aside class="item2 general-background-color admin-menu admin-border">
            <div class="mein-menu padding-menu font-size-menu">
                <span>
                    <a asp-action="Admin" asp-controller="Admin">@Resource.Info</a>
                </span>
                <span>
                    <a asp-action="UserMenegment" asp-controller="Admin">@Resource.UserMenegment</a>
                </span>
                <ul >
                    <li >

                        <span>Music menegment</span>

                        <ul>
                            <li>
                                <a asp-action="AddTrack" asp-controller="Music">@Resource.AddTrack</a>
                            </li>
                            <li>
                                <a asp-action="AddGenre" asp-controller="Music">@Resource.AddGenre</a>
                            </li>
                            <li>
                                <a asp-action="EditGenre" asp-controller="Music">@Resource.EditGenre</a>
                            </li>

                            <li>
                                <a asp-action="EditTrack" asp-controller="Music">@Resource.EditTrack</a>
                            </li>
                           
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="item3 back-background-color admin-border">
            @RenderBody()
           
        </section>
        <footer class="item4 general-background-color admin-border font-settings-admin align-admin-center">
            &#9400  Meloman Portal
        </footer>
    </main>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


