@using MusicPortal.BLL.DTO
@model AdminInfoDTO
@{
    Layout = "_AdminLayOut";
}

<div class="start-admin">
    <div class="heder-board" >
        Information board
    </div>
    <div class="info-admin">
            <div class="header-info">@Resource.AllTrack</div>
            <div class="content-info">@Model.TracksCount</div>
    </div>
    <div class="info-admin">
        <div class="header-info">@Resource.AllGenre</div>
            <div class="content-info">@Model.GenresCount</div>
    </div>
    <div class="info-admin">
            <div class="header-info">@Resource.AllPerformer</div>
            <div class="content-info">@Model.PerformersCount</div>
     </div>

    <div class="info-admin">
            <div class="header-info">@Resource.AllAlbum</div>
            <div class="content-info">@Model.AlbumsCount</div>
            
    </div>

    <div class="info-admin">
       
            <div class="header-info">@Resource.ToConfirm</div>
            <div class="content-info">@Model.ForConfarmationsCount</div>
           
    </div>
</div>