@model UserViewModel

@{
    Layout = "_AdminLayOut";
}
<div class="user-view font-settings-admin">
    <div>
        @foreach (var info in Model.NotConfirmUser)
        {
            <form class="user-management">
                <label class="user-nick">@Html.DisplayFor(modelItem => info.NickName)</label>
                <a asp-action="ConfirmUser" asp-controller="Admin" asp-route-id="@info.Id"><input class=" button-castom back-color-button-Green font-settings-admin" type="button" value="@Resource.Confirm" /> </a>
                <a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@info.Id"><input class="button-castom back-color-button-Red font-settings-admin" type="button" value="@Resource.Delete" /> </a>
            </form>

        }
    </div>
    <div>
        @foreach (var info in Model.ConfirmUser)
        {
            <form class="user-management">
                <label class="user-nick"> @Html.DisplayFor(modelItem => info.NickName)</label>
                <a asp-action="BlockUser" asp-controller="Admin" asp-route-id="@info.Id"><input class=" button-castom back-color-button-Orange font-settings-admin" type="button" value="@Resource.Block" /> </a>
                <a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@info.Id"><input class="button-castom back-color-button-Red font-settings-admin" type="button" value="@Resource.Delete" /> </a>
            </form>

        }
    </div>
</div>


