@model IEnumerable<Movie>
@addTagHelper *, MyWebApp

@{
    ViewData["Title"] = "TenMovies";
    Layout = "_TenMovies";
}


@await Html.PartialAsync("Details",new AllInfoModelView());


@* @await Component.InvokeAsync("Details", 5); *@
<div id="pagination">

    <div class="cardFilmP borderR boxShadow">
        
        <div class="posterP rowSpan borderLR" style="background-image:url()">
        </div>
        <div class=" rowSpan dispalayGrid gridTempRow">

            <span class="info">
               
            </span>
            <span class="info">
               
            </span>
            <span class="info">
               
            </span>
            <span class="info borderR description ">
               
            </span>
            <span class="info ">
                
            </span>
        </div>
    </div>

    @foreach (var info in Model)
    {
        <div class="cardFilmP borderR boxShadow">
            <input hidden value="@Html.DisplayFor(modelItem => info.Id)" />
            <div class="posterP rowSpan borderLR" style="background-image:url(@Html.DisplayFor(modelItem=>info.PosterUrl)">
            </div>
            <div class=" rowSpan dispalayGrid gridTempRow">
                
                <span class="info">
                       @Html.DisplayFor(modelItem => info.Title)
                </span>
                <span class="info">
                    @Html.DisplayFor(modelItem => info.Year)
                </span>
                <span class="info">
                    @Html.DisplayFor(modelItem => info.Genre)
                </span>
               
                <span class="info">
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@info.Id">Удалить</a>
                </span>
                <span class="info">
                    <a asp-action="EditMovie" asp-controller="Edit" asp-route-id="@info.Id">Редактировать</a>
                </span>
               
                
            </div>
        </div>
    }

    <div class="cardFilmP borderR boxShadow">

        <div class="posterP rowSpan borderLR" style="background-image:url()">
        </div>
        <div class=" rowSpan dispalayGrid gridTempRow">

            <span class="info">

            </span>
            <span class="info">

            </span>
            <span class="info">

            </span>
            <span class="info borderR description ">

            </span>
            <span class="info ">

            </span>
        </div>
    </div>

</div>





